<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Mi Portafolio</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/app.js" defer></script>
</head>
<body>

<header>
    <h1>Galería de Proyectos</h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="gallery.html" style="color: #2A558D">Galería</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>

<section id="gallery">
    <h2>Mi TFG</h2>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="../img/Imagen1.png" alt="image 1" class="images">
        </div>
        <div class="gallery-item">
            <img src="../img/Imagen2.png" alt="image 2" class="images">
        </div>
        <div class="gallery-item">
            <img src="../img/Imagen3.png" alt="image 3" class="images">
        </div>
    </div>
</section>

<div id="galleryModal" class="modal">
    <div class="modal-content">
        <div class="modal-close">
            <span>&times;</span>
        </div>
        <div class="modal-gallery-container">
            <img src="../img/Imagen1.png" alt="image 1" class="modal-images">
            <img src="../img/Imagen2.png" alt="image 2" class="modal-images">
            <img src="../img/Imagen3.png" alt="image 3" class="modal-images">
            <img src="../img/Imagen4.png" alt="image 4" class="modal-images">
            <img src="../img/Imagen5.png" alt="image 5" class="modal-images">
            <img src="../img/Imagen6.png" alt="image 6" class="modal-images">
            <img src="../img/Imagen7.png" alt="image 7" class="modal-images">
            <img src="../img/Imagen8.png" alt="image 8" class="modal-images">
            <img src="../img/Imagen9.png" alt="image 9" class="modal-images">
            <img src="../img/Imagen10.png" alt="image 10" class="modal-images">
            <img src="../img/Imagen11.png" alt="image 11" class="modal-images">
            <img src="../img/Imagen12.png" alt="image 12" class="modal-images">
            <img src="../img/Imagen13.png" alt="image 13" class="modal-images">
            <img src="../img/Imagen14.png" alt="image 14" class="modal-images">
            <img src="../img/Imagen15.png" alt="image 15" class="modal-images">
            <img src="../img/Imagen16.png" alt="image 16" class="modal-images">
            <img src="../img/Imagen17.png" alt="image 17" class="modal-images">
            <img src="../img/Imagen18.png" alt="image 18" class="modal-images">
            <img src="../img/Imagen19.png" alt="image 19" class="modal-images">
            <img src="../img/Imagen20.png" alt="image 20" class="modal-images">
            <img src="../img/Imagen21.png" alt="image 21" class="modal-images">
            <img src="../img/Imagen22.png" alt="image 22" class="modal-images">
            <img src="../img/Imagen23.png" alt="image 23" class="modal-images">
            <img src="../img/Imagen24.png" alt="image 24" class="modal-images">
        </div>
    </div>
</div>

<footer>
    <div class="social-media">
        <a href="https://github.com/evagmezz" target="_blank"><img src="../img/github.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/eva-gomez-2811392a1/" target="_blank"><img src="../img/linkedin.png" alt="LinkedIn"></a>
    </div>
    <p style="color: #C4D7EF;">&copy; 2024 Portafolio Eva Gómez. Todos los derechos reservados.</p>
</footer>
</body>
</html>